/*CSS DOCUMENT*/
html{
    padding: 2em;
}

h1{
    color: #00008b;
    font-size: 2.4em;
    text-transform: uppercase;
    letter-spacing: .02em;
    word-spacing: .2em;

    
}
h2{
    font-family:sans-serif; 
    text-transform: lowercase;
    color: #DAB08D;
    font-size: 1.2em;
    margin-top: 3em;
}

h3{
    font-family:  sans-serif;
    text-transform: lowercase;
    font-size: 1.2em;
    padding: 3em .01em .01em;
    color: #5c4033;
}
 
h4 {        
    color: #5C4049;
    text-transform: lowercase;
    font-size: 1em;
    margin:1em .01em .1em;
    letter-spacing: .05em;
    word-spacing: .15em;
}

p{
        color: #5C4033;
        font-size: .9em;
        margin: .2em .1em .6em;
        line-height: 1.9em;
}

li{
    list-style: none
}

ul{
    padding: 0
}

