/*CSS document*/

body {
	background-color: rgb(245, 245, 245);
	color: rgb(50, 50, 50);
	line-height: 140%;
	font-family: sans-serif;
}
background-color: rgb(229,229,215); 
header{
	background-color: rgb(229,229,215);
	margin-bottom: 1em;
}
figure {
	width: 100%;
	margin: auto;
}

section {
	max-width: 40em;
}

div.container {
    max-width: 80em;
    margin: auto;
}

img {
    width: 100%;
    margin: auto;
}

h1 {
	width: 12em;
	padding: 1em 0em 0em .45em;
}

nav ul{
	padding: 0em 0em 1em 1em;
}

nav ul li {
    display: inline;
    list-style-type: none;
}

nav ul li a {
    margin-right: 1em;
    color: rgb(66, 66, 53);
	font-family: mr-eaves-modern, sans-serif;
	font-style: normal;
	font-weight: 350;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: black;
}  

ul {
    list-style-type: none;
    padding: 0;
}

a {
	text-decoration: none;
}

h3 {
	font-family: maecenas, serif;
	font-weight: 600;
	font-style: normal;
	color: black;
	padding: 0;
}

h2 {
	font-family: maecenas, serif;
	font-weight: 400;
	font-style: normal;
	color: rgb(83,83,70);
	padding-bottom: 0.9em;
}

p {
	font-family: mr-eaves-modern, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: black;
	padding: 0;
}

figcaption{
	font-family: mr-eaves-modern, sans-serif;
	font-style: normal;
	font-weight: 100;
}
section.mainstory{
	background-color: rgb(229,229,215);
	padding: 1em;
	margin: auto;
	margin-bottom: 1em;

}

section.imgteaser h3{
	font-family: maecenas, serif;
	font-weight: 400;
	font-style: normal;
    color: rgb(118, 106, 99);
}

section.teaser h3{
	font-family: maecenas, serif;
	font-weight: 400;
	font-style: normal;
	color: black;
}

section.mainstory p{
	font-family: mr-eaves-modern, sans-serif;
	font-style: normal;
	font-weight: 300;
}


@media screen and (min-width: 60em){
	div.container{
		display: grid;
		grid-gap: 0 1em; 
		grid-template-columns: 3fr 1fr;
	}

	header{
		grid-column: 1/3; 
		padding-left: 1em;
	}

	main{
		grid-column: 1/2;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0 1em; 
	}

	section.mainstory {
		grid-column: 2/4;
		grid-row: 1/3;
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	section.mainstory figure{
		flex: 1 0 18em;
		display: flex;
		flex-direction: column;
	}

	section.mainstory figure div{
		flex: 1 0 18em;
		background-image: url(chamisalpreview.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	section.mainstory figure div img{
		height: 100%;
		opacity: 0;
	}

	section.mainstory figure figcaption{
		flex: 0 0 3em;
	}

	section.mainstory h3{
		flex: 0 0 auto;
		margin: 0;
		padding-top: 1em;
	}

	section.mainstory p{
		flex: 0 0 auto;
		margin: 0;
		padding-top: 0.5em;
	}

	aside{
		grid-column: 2/3;
	}
	}
